/*=================================================================================*/
.mar-derecho {
  float: right;
  width: 7%;
  background-color: #AF0A1E;
}
.mar-derecho h1 {
  text-align: right;
}
.mar-derecho p {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
p, h1,h2 ,h3 {
  font-family: 'Mali', cursive;
}
/*=================================================================================*/
/*=================================================================================*/
.mar-izquierdo {
  float: left;
  width: 7%;
  background-color: #AF0A1E;

}
.mar-izquierdo h1 {
  text-align: left;
}
.mar-izquierdo p {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
/*=================================================================================*/

html {
  background-color: #F8F8F2;
  margin: 0 auto;
}
body {
  background-color: #AF0A1E;
  width: 100%;
  margin: 0 auto;
  
}


img 
{
  width: 600px;
  height: 600px;
  orientation: center;
}



.contenedor {
  background-color: #FFC9C9;
  overflow: hidden;
  width: 90%;
  margin-left: 5%;
  border-style:  groove;
border-radius: 10px;
}
.col {
  /*
   * Reglas para que la columna de la izquierda sea de la
   * misma altura que la de lstyle="with:210px; height:100px;"a derecha, dentro del contenedor.
   */
  /*
  margin: 0px;
  padding: 0px;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  overflow: hidden;
  */
}
.col-izquierda {
  float: left;
  width: 25%;
  height: 100%;
  background-color: #AF0A1E;
}
.col-izquierda ul {
  list-style-type: none;
  padding-left: 0px;
}
.col-izquierda ul li {
  padding-left: 10px;
  margin-top: 10px;
  border-left: 5px solid #000;
}
/*=================================================================================*/
.col-derecha {
  float: right;
  width: 75%;
  background-color: #FFC9C9;
}
.col-derecha h1 {
  text-align: right;
}
.col-derecha p {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
/*=================================================================================*/

/*=================================================================================*/
.col-subcuadro {
  float: left;
  width: 100%;
  background-color: #FF7878;
}FF7878
.col-subcuadro ul {
  list-style-type: none;
  padding-left: 0px;
}
.col-subcuadro ul li {
  padding-left: 10px;
  margin-top: 10px;
  border-left: 5px solid #000;
}
/*=================================================================================*/
.consorcio-www {
  font-size: 10px;
  background-color: #5D4C46;
  color: #fff;
}
.consorcio-historia {
  font-size: 10px;
  background-color: #44B3C2;
  color: #fff;
}
.html5-establece {
  clear: both;
}

.pie {
  background-color: #6F3662;
}
.pie p {
  text-align: right;
  color: #F8F8F2;
}
/*=================================Estilos de letra=======================================*/
.glosario {
  font-family: 'Mali', cursive;
}
.glosario ul {
  list-style-type: none;
}

.glosario ul li {
  display: block;
}
.cuento {
  float: right;
  width: 80%;
  background-color: #FFC9C9;
  margin-right: 7em;
}
.menu {
  float: left;
  width: 25%;
  background-color: #FFC9C9;
  
}
.menu ul{
  list-style-type: none;
}
.menu ul li {
  display: block;
  
}
.menu ul li a{
  text-decoration: none;
  font-size: 20px;
}
.menu ul li a:hover {
  color: rgb(192, 190, 190);
  font-size: 18px;
  background-color: #FF7878;
}
.foto{
  width: 30%;
  float: right;
  margin-right: 25em;
}
.foto img{
  width: 40em;
  height: 30em;
}